In [40]:
import pandas as pd
dataset = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv")
dataset.head()

,PPSORT,WEIGHT,WT1,WT2,WT3,WT4,WT5,WT6,WT7,WT8,...,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT,YRIMM
0,453141,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,97000,73000,450000,13,95000,6,11,9999
1,923226,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,99999999,99999999,440000,13,99999999,9,99,9999
2,385097,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,99999999,99999999,440000,13,99999999,9,99,9999
3,732612,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,592.596438,...,9,1,46000,41000,839779,13,19000,6,11,9999
4,143665,37.120914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,30000,26000,60000,13,29000,5,9,9999

In [41]:
# class label: home language part A - first language write in component
homeLang = dataset.iloc[:,65]
# class label: mother tongue part A - first language write in component
motherTongue = dataset.iloc[:, 96]
# variables
x1, x2, x3 = dataset.iloc[:, 18:65], dataset.iloc[:, 66:96], dataset.iloc[:, 97:-1]
x = pd.concat([x1,x2,x3], axis=1, sort=False)
weights = dataset.iloc[:, 1]

In [42]:
homeLang

0          1
1          1
2          1
3          1
4          1
          ..
930416     1
930417     1
930418     1
930419    17
930420     1
Name: HLANO, Length: 930421, dtype: int64

In [43]:
motherTongue

0         1
1         1
2         1
3         1
4         1
         ..
930416    1
930417    1
930418    1
930419    5
930420    1
Name: MTNNO, Length: 930421, dtype: int64

In [44]:
x

,ABOID,AGEGRP,AGEIMM,ATTSCH,BedRm,BFNMEMB,CapGn,CFInc,CFInc_AT,CfSize,...,SSGRAD,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT
0,6,11,99,1,5,0,99999999,30,27,4,...,5,9,1,97000,73000,450000,13,95000,6,11
1,6,5,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
2,6,2,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
3,6,12,99,1,4,0,99999999,20,19,4,...,8,9,1,46000,41000,839779,13,19000,6,11
4,6,15,99,1,2,0,99999999,16,15,2,...,6,9,1,30000,26000,60000,13,29000,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930416,6,17,99,1,4,0,200,31,28,2,...,8,9,1,120000,94000,810000,13,130000,6,11
930417,6,13,99,1,8,0,99999999,30,27,4,...,2,8,8,77000,61000,88888888,13,78000,6,11
930418,6,13,99,1,3,0,99999999,21,17,1,...,6,9,1,80000,62000,710000,13,81000,5,9
930419,6,21,7,1,3,0,99999999,13,13,3,...,1,0,2,22000,23000,99999999,2,99999999,9,1
930420,6,14,99,1,3,0,99999999,13,13,3,...,6,0,2,9000,8000,99999999,2,99999999,6,12

In [45]:
weights

0         37.037277
1         37.037277
2         37.037277
3         37.037277
4         37.120914
            ...
930416    37.037277
930417    37.037277
930418    37.042280
930419    37.037277
930420    37.037277
Name: WEIGHT, Length: 930421, dtype: float64

In [46]:
from sklearn.tree import DecisionTreeClassifier

In [47]:
classifier = DecisionTreeClassifier()

In [48]:
classifier.fit(x.to_numpy(), homeLang.to_numpy(), weights.to_numpy())

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [49]:
langs=['No non-official language','Aboriginal languages','Italian','Spanish','Portuguese','German','Russian','Polish','Slavic languages','Other European languages','Arabic','Other Afro-Asiatic and African languages','Punjabi (Panjabi)','Urdu','Persian (Farsi)','Other Indo-Iranian languages','Cantonese','Mandarin','Chinese languages','Austro-Asiatic languages','Tagalog (Pilipino, Filipino)','Other East and Southeast Asian languages','Tamil','All other languages','Not available']

In [50]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\programdata\anaconda3\lib\site-packages (0.8.6)

In [51]:
from tabulate import tabulate
importances = classifier.feature_importances_
headers = ["name", "score"]
values = sorted(zip(x.columns, classifier.feature_importances_), key=lambda x: x[1] * -1)
print(tabulate(values, headers, tablefmt="plain"))

name                    score
NOL               0.485587
VisMin            0.0995906
HLBNO             0.0686044
POB               0.0414583
HLAEN             0.0360121
HLAFR             0.0272558
POBM              0.0192149
DPGRSUM           0.0187423
ETHDER            0.0158487
SHELCO            0.00796544
AGEGRP            0.00682482
VALUE             0.0058295
SSGRAD            0.00570146
AGEIMM            0.00518557
IMMCAT5           0.00495846
ROOMS             0.00424751
HHMRKINC          0.0041685
EfSize            0.00385334
Citizen           0.00363852
GTRfs             0.00329535
CfSize            0.00326093
EfDIMBM           0.0031828
CMA               0.00303336
MrkInc            0.00297527
TotInc_AT         0.00287056
CFInc             0.0027406
CitOth            0.00264887
TotInc            0.00260151
Invst             0.00258832
BedRm             0.00249378
NOC16             0.00247456
NAICS             0.00246032
Mob5              0.00245799
GovtI             0.00238425
CFInc_AT          0.00236854
HHTYPE            0.00236529
LOCSTUD           0.00236342
HDGREE            0.00235702
HHSIZE            0.0023169
LSTWRK            0.00230833
IncTax            0.00227209
Wages             0.00223433
KOL               0.00221438
HHInc_AT          0.00215783
HHInc             0.00200326
EmpIn             0.00196518
DTYPE             0.00196329
WRKACT            0.00195725
CIP2011_STEM_SUM  0.0019464
CIP2011           0.00187041
CHDBN             0.00177065
EFInc             0.00175354
ATTSCH            0.00175007
EFDecile          0.0017347
MarStH            0.00169938
CQPPB             0.00165228
EFInc_AT          0.00160762
PWLEAVE           0.0015652
POBF              0.00154727
REPAIR            0.00154448
PR                0.00152769
PWDUR             0.00145769
DIST              0.00137596
PR5               0.00135031
POWST             0.00132433
WKSWRK            0.00124188
PR1               0.00122905
MTNEn             0.00121268
GENSTAT           0.00119573
CFSTAT            0.0011955
OtInc             0.00114671
SempI             0.00111927
MOB1              0.00111301
OASGI             0.00108613
NOCS              0.0010128
CapGn             0.000974704
Retir             0.000969906
Sex               0.000954311
NOS               0.000897645
ChldC             0.000896317
PKID6_14          0.000874102
PresMortG         0.00086719
PWPR              0.000853652
EICBN             0.000833412
LFACT             0.000797061
PKID2_5           0.000787962
MTNFr             0.000755325
CONDO             0.000738656
PKID25            0.000720582
PKID15_24         0.000719004
PKID0_1           0.000669543
PWOCC             0.000666561
MODE              0.000642972
Subsidy           0.0006382
FOL               0.000620348
DETH123           0.000619199
HCORENEED_IND     0.000589057
PRIHM             0.00058873
LOC_ST_RES        0.000548411
FPTWK             0.000494462
HLBEN             0.000475759
COW               0.000419312
LWANO             0.000379093
LWAEN             0.000369668
HLBFR             0.000343605
LWBNO             0.000334113
LICO              0.000306305
PKIDS             0.000295333
LoLIMB            0.000278808
LWAFR             0.000276274
LoMBM             0.000273318
ABOID             0.00025748
IMMSTAT           0.000257279
LoLIMA            0.000249791
Tenur             0.000237957
LICO_AT           0.000220625
LWBEN             0.00013297
LWBFR             0.00012966
REGIND            9.97668e-06
BFNMEMB           2.23412e-06

In [53]:
from sklearn.tree import export_graphviz

# Creates dot file named tree.dot
export_graphviz(
            classifier,
            out_file =  "decisionTree.dot",
            feature_names = list(x.columns),
            class_names = langs,
            filled = True,
            rounded = True,
            max_depth=5)