In [7]:
import pandas as pd
dataset = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv")
dataset.head()

,PPSORT,WEIGHT,WT1,WT2,WT3,WT4,WT5,WT6,WT7,WT8,...,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT,YRIMM
0,453141,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,97000,73000,450000,13,95000,6,11,9999
1,923226,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,99999999,99999999,440000,13,99999999,9,99,9999
2,385097,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,99999999,99999999,440000,13,99999999,9,99,9999
3,732612,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,592.596438,...,9,1,46000,41000,839779,13,19000,6,11,9999
4,143665,37.120914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,30000,26000,60000,13,29000,5,9,9999

In [8]:
# class label: home language part A - first language write in component
homeLang = dataset.iloc[:,65]
# class label: mother tongue part A - first language write in component
motherTongue = dataset.iloc[:, 96]
# variables
x1, x2, x3 = dataset.iloc[:, 18:65], dataset.iloc[:, 66:96], dataset.iloc[:, 97:-1]
x = pd.concat([x1,x2,x3], axis=1, sort=False)
weights = dataset.iloc[:, 1]

In [9]:
homeLang

0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
930391     1
930392     1
930393     1
930394     1
930395     1
930396     1
930397    23
930398     1
930399     1
930400     1
930401     1
930402     1
930403     1
930404     1
930405     1
930406     1
930407     1
930408     1
930409     1
930410     1
930411     1
930412     1
930413     1
930414     1
930415     1
930416     1
930417     1
930418     1
930419    17
930420     1
Name: HLANO, Length: 930421, dtype: int64

In [10]:
motherTongue

0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         5
20         1
21         4
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
930391     1
930392     1
930393     1
930394     1
930395     1
930396    17
930397    26
930398    13
930399     1
930400     1
930401     1
930402     1
930403     1
930404     1
930405     1
930406     1
930407    30
930408     1
930409     1
930410     1
930411     1
930412     1
930413     1
930414     1
930415     1
930416     1
930417     1
930418     1
930419     5
930420     1
Name: MTNNO, Length: 930421, dtype: int64

In [11]:
x

,ABOID,AGEGRP,AGEIMM,ATTSCH,BedRm,BFNMEMB,CapGn,CFInc,CFInc_AT,CfSize,...,SSGRAD,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT
0,6,11,99,1,5,0,99999999,30,27,4,...,5,9,1,97000,73000,450000,13,95000,6,11
1,6,5,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
2,6,2,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
3,6,12,99,1,4,0,99999999,20,19,4,...,8,9,1,46000,41000,839779,13,19000,6,11
4,6,15,99,1,2,0,99999999,16,15,2,...,6,9,1,30000,26000,60000,13,29000,5,9
5,6,19,99,1,3,0,-3300,28,26,2,...,4,9,1,82000,69000,839779,13,99999999,9,1
6,6,18,99,1,3,0,-3400,28,26,2,...,6,9,1,51000,45000,839779,13,99999999,9,1
7,6,18,99,1,3,0,99999999,13,12,1,...,6,9,1,41000,37000,310000,13,99999999,9,1
8,6,14,99,1,2,0,99999999,25,21,2,...,5,0,2,53000,43000,99999999,13,52000,6,11
9,6,8,99,4,4,0,99999999,33,31,4,...,4,9,1,27000,26000,640000,13,27000,4,7
10,6,11,99,1,4,0,99999999,17,15,4,...,4,0,2,43000,31000,99999999,13,57000,6,11
11,6,1,99,9,4,0,99999999,17,15,4,...,99,0,2,99999999,99999999,99999999,13,99999999,9,99
12,1,16,99,1,2,0,99999999,6,6,1,...,1,0,2,14000,14000,99999999,13,99999999,9,1
13,6,11,99,3,3,0,99999999,30,27,3,...,8,9,1,72000,60000,600000,13,70000,6,11
14,6,11,99,1,3,0,99999999,28,26,4,...,4,9,1,58000,53000,340000,13,55000,6,11
15,6,4,99,9,3,0,99999999,28,26,4,...,99,9,1,99999999,99999999,340000,13,99999999,9,99
16,6,12,99,1,3,0,99999999,23,20,4,...,6,9,1,6000,6000,280000,13,99999999,6,11
17,6,8,99,1,3,0,99999999,25,24,4,...,4,9,1,24000,22000,280000,13,24000,6,11
18,6,15,99,1,2,0,99999999,13,12,1,...,4,0,2,42000,37000,99999999,13,11000,1,4
19,6,11,2,1,3,0,1400,28,25,4,...,8,9,1,120000,98000,550000,12,120000,6,11
20,6,1,99,9,3,0,99999999,28,25,4,...,99,9,1,99999999,99999999,560000,12,99999999,9,99
21,6,12,99,1,4,0,99999999,29,25,4,...,8,9,1,2000,2000,710000,2,99999999,9,1
22,6,19,99,1,3,0,99999999,12,12,2,...,1,9,1,29000,28000,60000,13,1000,9,1
23,6,6,99,2,4,0,99999999,33,31,3,...,1,9,1,99999999,99999999,859257,13,99999999,9,1
24,6,9,99,1,3,0,99999999,14,12,1,...,6,0,2,47000,38000,99999999,13,47000,6,11
25,6,14,99,1,4,0,99999999,15,13,1,...,4,9,1,52000,43000,270000,13,60000,5,9
26,6,1,99,9,5,0,99999999,25,22,4,...,99,9,1,99999999,99999999,1310000,1,99999999,9,99
27,6,8,99,1,5,0,99999999,10,9,1,...,4,9,1,28000,25000,1300000,13,26000,6,11
28,6,1,99,9,4,0,99999999,29,26,4,...,99,9,1,99999999,99999999,956142,12,99999999,9,99
29,6,6,99,2,4,0,99999999,25,22,4,...,1,9,1,99999999,99999999,790000,13,99999999,6,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930391,6,12,99,1,4,0,99999999,31,29,4,...,8,9,1,63000,53000,240000,13,67000,6,11
930392,6,12,99,1,4,0,99999999,88,88,4,...,8,9,1,88888888,88888888,230000,13,88888888,6,11
930393,6,10,99,1,3,0,99999999,24,22,4,...,5,9,1,50000,40000,180000,13,50000,6,11
930394,6,3,99,9,3,0,99999999,24,22,4,...,99,9,1,99999999,99999999,180000,13,99999999,9,99
930395,6,2,99,9,3,0,99999999,24,22,4,...,99,9,1,99999999,99999999,180000,13,99999999,9,99
930396,6,1,99,9,2,0,99999999,9,9,3,...,99,0,2,99999999,99999999,99999999,13,99999999,9,99
930397,6,2,99,9,3,0,99999999,14,13,3,...,99,9,1,99999999,99999999,600000,13,99999999,9,99
930398,6,19,6,1,3,0,1600,31,27,1,...,11,9,1,418101,251438,900000,13,99999999,9,1
930399,6,12,99,1,4,0,-100,28,25,5,...,7,9,1,140000,100000,370000,13,130000,6,11
930400,6,5,99,9,4,0,99999999,28,25,5,...,99,9,1,99999999,99999999,360000,13,99999999,9,99
930401,6,5,99,9,4,0,99999999,28,25,5,...,99,9,1,99999999,99999999,350000,13,99999999,9,99
930402,6,4,99,9,4,0,99999999,28,25,5,...,99,9,1,99999999,99999999,350000,13,99999999,9,99
930403,1,10,99,1,3,1,99999999,8,8,3,...,2,1,2,1000,1,99999999,13,99999999,9,1
930404,6,17,99,1,1,0,99999999,15,13,1,...,1,0,2,52000,41000,99999999,13,17000,5,10
930405,6,11,99,1,2,0,99999999,16,16,1,...,4,0,2,59000,57000,99999999,13,99999999,5,9
930406,6,1,99,9,3,0,99999999,30,27,4,...,99,9,1,99999999,99999999,460000,13,99999999,9,99
930407,6,14,8,1,3,0,99999999,25,21,3,...,8,9,1,64000,49000,390000,4,64000,6,11
930408,6,18,99,1,1,0,99999999,12,12,1,...,6,0,2,37000,36000,99999999,13,28000,5,9
930409,6,21,99,1,2,0,99999999,16,15,2,...,9,9,1,48000,47000,190000,13,1000,9,1
930410,6,11,99,1,4,0,99999999,30,25,4,...,5,9,1,26000,24000,230000,13,22000,5,10
930411,6,11,99,1,4,0,99999999,30,25,4,...,5,9,1,130000,83000,240000,13,120000,3,5
930412,6,3,99,9,4,0,99999999,30,25,4,...,99,9,1,99999999,99999999,250000,13,99999999,9,99
930413,6,10,99,1,5,0,99999999,11,11,2,...,4,9,1,18000,17000,380000,13,99999999,9,1
930414,6,15,2,1,3,0,99999999,24,21,2,...,4,9,1,48000,42000,200000,13,99999999,2,3
930415,6,14,99,1,3,0,99999999,24,21,2,...,4,9,1,49000,42000,200000,13,48000,2,3
930416,6,17,99,1,4,0,200,31,28,2,...,8,9,1,120000,94000,810000,13,130000,6,11
930417,6,13,99,1,8,0,99999999,30,27,4,...,2,8,8,77000,61000,88888888,13,78000,6,11
930418,6,13,99,1,3,0,99999999,21,17,1,...,6,9,1,80000,62000,710000,13,81000,5,9
930419,6,21,7,1,3,0,99999999,13,13,3,...,1,0,2,22000,23000,99999999,2,99999999,9,1
930420,6,14,99,1,3,0,99999999,13,13,3,...,6,0,2,9000,8000,99999999,2,99999999,6,12

In [12]:
weights

0         37.037277
1         37.037277
2         37.037277
3         37.037277
4         37.120914
5         37.037277
6         37.037277
7         37.019784
8         37.041550
9         37.037277
10        37.037277
11        37.037277
12        37.039118
13        37.037277
14        37.039118
15        37.039118
16        37.037277
17        37.037277
18        37.042280
19        37.042280
20        37.042280
21        37.037277
22        37.039118
23        37.037277
24        37.012589
25        37.041550
26        37.042280
27        37.042280
28        37.041550
29        37.042280
            ...
930391    37.040742
930392    37.040742
930393    37.041550
930394    37.041550
930395    37.041550
930396    37.041550
930397    37.037277
930398    37.037277
930399    37.051222
930400    37.051222
930401    37.051222
930402    37.051222
930403    37.019784
930404    37.032779
930405    37.019784
930406    37.037277
930407    37.041550
930408    37.037277
930409    37.032779
930410    37.041550
930411    37.041550
930412    37.041550
930413    37.019784
930414    37.037277
930415    37.037277
930416    37.037277
930417    37.037277
930418    37.042280
930419    37.037277
930420    37.037277
Name: WEIGHT, Length: 930421, dtype: float64

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
classifier = DecisionTreeClassifier()

In [23]:
classifier.fit(x.to_numpy(), homeLang.to_numpy(), weights.to_numpy())

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
langs=['No non-official language','Aboriginal languages','Italian','Spanish','Portuguese','German','Russian','Polish','Slavic languages','Other European languages','Arabic','Other Afro-Asiatic and African languages','Punjabi (Panjabi)','Urdu','Persian (Farsi)','Other Indo-Iranian languages','Cantonese','Mandarin','Chinese languages','Austro-Asiatic languages','Tagalog (Pilipino, Filipino)','Other East and Southeast Asian languages','Tamil','All other languages','Not available']

In [86]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\fogelm\anaconda3\lib\site-packages (0.8.6)

In [25]:
from tabulate import tabulate
importances = classifier.feature_importances_
headers = ["name", "score"]
values = sorted(zip(x.columns, classifier.feature_importances_), key=lambda x: x[1] * -1)
print(tabulate(values, headers, tablefmt="plain"))

name                    score
NOL               0.485508
VisMin            0.0993626
HLBNO             0.0686044
POB               0.0414198
HLAEN             0.0360035
HLAFR             0.027278
POBM              0.0191751
DPGRSUM           0.0189359
ETHDER            0.0157719
SHELCO            0.0079419
AGEGRP            0.00686951
VALUE             0.00593575
SSGRAD            0.00589404
AGEIMM            0.00524349
IMMCAT5           0.00506443
ROOMS             0.00430944
HHMRKINC          0.00401428
EfSize            0.00382286
Citizen           0.00363439
GTRfs             0.0033948
CfSize            0.00318904
EfDIMBM           0.0031535
TotInc_AT         0.0031129
MrkInc            0.00295595
CMA               0.00293623
CFInc             0.00263479
Invst             0.00260206
CitOth            0.00258278
CFInc_AT          0.00257327
GovtI             0.00255082
Mob5              0.00250621
NAICS             0.00248093
HHTYPE            0.0024735
BedRm             0.00247027
TotInc            0.00239991
NOC16             0.00239246
Wages             0.00237572
LSTWRK            0.00230855
KOL               0.0022798
IncTax            0.00225242
LOCSTUD           0.00221596
HDGREE            0.00212023
HHSIZE            0.00209202
EmpIn             0.00202399
WRKACT            0.00199407
HHInc_AT          0.00195449
HHInc             0.00194686
DTYPE             0.0019298
EFInc_AT          0.00188665
CIP2011_STEM_SUM  0.0018577
CIP2011           0.00185271
EFDecile          0.00177873
CHDBN             0.0017405
PWLEAVE           0.00169622
EFInc             0.00169507
ATTSCH            0.00166081
POBF              0.0016111
REPAIR            0.00154363
CQPPB             0.00154345
MarStH            0.00153378
PR1               0.00134019
PWDUR             0.00133795
PR                0.00133353
MTNEn             0.00133296
POWST             0.00131275
DIST              0.00131165
PR5               0.00130339
WKSWRK            0.00124926
CFSTAT            0.00124596
OtInc             0.00121695
GENSTAT           0.00120297
MOB1              0.00117475
SempI             0.00115191
OASGI             0.00113839
NOCS              0.00108231
Sex               0.00101517
CapGn             0.000989985
Retir             0.000943363
PKID6_14          0.000938125
PWPR              0.000861571
EICBN             0.000858909
NOS               0.000827381
ChldC             0.000825183
PresMortG         0.000808328
LFACT             0.000794847
PKID2_5           0.000771555
MTNFr             0.000751648
PKID15_24         0.000744343
MODE              0.000727646
CONDO             0.000717063
PWOCC             0.00069381
PKID25            0.000692356
DETH123           0.000663446
PRIHM             0.00065607
Subsidy           0.000648776
HCORENEED_IND     0.000633596
LOC_ST_RES        0.000614975
FPTWK             0.000614769
FOL               0.000560217
PKIDS             0.000516677
HLBEN             0.000492976
PKID0_1           0.000471362
LWANO             0.000423561
COW               0.000422529
LWAEN             0.000311738
LICO              0.000295765
HLBFR             0.000291171
LoLIMB            0.000282414
LWBNO             0.000279097
LoLIMA            0.000270375
LoMBM             0.000269436
ABOID             0.000256312
LICO_AT           0.000242185
LWAFR             0.000233792
IMMSTAT           0.000231655
Tenur             0.000202228
LWBFR             0.000184721
LWBEN             0.000120641
REGIND            1.34857e-05
BFNMEMB           6.90988e-06