In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install bokeh

Requirement already satisfied: bokeh in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (1.4.0)
Requirement already satisfied: six>=1.5.2 in c:\users\clarke\appdata\roaming\python\python37\site-packages (from bokeh) (1.12.0)
Requirement already satisfied: packaging>=16.8 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (19.2)
Requirement already satisfied: PyYAML>=3.10 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (5.1.2)
Requirement already satisfied: Jinja2>=2.7 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (2.10)
Requirement already satisfied: numpy>=1.7.1 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (1.16.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (2.7.5)
Requirement already satisfied: pillow>=4.0 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (6.2.1)
Requirement already satisfied: tornado>=4.3 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from bokeh) (5.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from packaging>=16.8->bokeh) (2.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\clarke\appdata\local\programs\python\python37\lib\site-packages (from Jinja2>=2.7->bokeh) (1.1.0)

In [3]:
from bokeh.io import push_notebook, show, output_notebook
from bokeh.layouts import row
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource, HoverTool

output_notebook()

In [4]:
dataset = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv")
dataset.head()

,PPSORT,WEIGHT,WT1,WT2,WT3,WT4,WT5,WT6,WT7,WT8,...,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT,YRIMM
0,453141,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,97000,73000,450000,13,95000,6,11,9999
1,923226,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,99999999,99999999,440000,13,99999999,9,99,9999
2,385097,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,99999999,99999999,440000,13,99999999,9,99,9999
3,732612,37.037277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,592.596438,...,9,1,46000,41000,839779,13,19000,6,11,9999
4,143665,37.120914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9,1,30000,26000,60000,13,29000,5,9,9999

###  Notes from Mr. Fogel

MTNNO (Mother Tongue - first write-in component) and HLANO (Home Language - first write-in component) - see if these match, use boolean whether they match as classification. Also classify MTNNO and HLANO separately

In Decision Tree file I pruned out these values from feature set - these all come from the language section:
- MTNEN (mother tongue english) - high correlation to classified feature in tree
- MTNFR (mother tongue french)   - ditto
- HLAFR (home language french)  - ditto
- HLAEN (home language english) - ditto
- HLBEN (home language part b english)
- HLBFR (home language part b french) 
- HLBNO 
- NOL (knowledge of non-official languages) - very high correlation to classified features
- FOL (first official language spoken) 
- KOL (knowledge of official languages) 

_----the below language features had very low influence in the decision tree----_

- LWAEN (language at work part a english)
- LWAFR (language at work part a french)
- LWANO (language at work part a first write-in component)
- LWBEN (language at work part b english)
- LWBFR (language at work part b french)
- LWBNO (language at work part b first write-in component)

In [5]:
# class label: home language part A - first language write in component
homeLang = dataset.iloc[:,65]
# class label: mother tongue part A - first language write in component
motherTongue = dataset.iloc[:, 96]
# variables
x1, x2, x3 = dataset.iloc[:, 18:65], dataset.iloc[:, 66:96], dataset.iloc[:, 97:-1]
x = pd.concat([x1,x2,x3], axis=1, sort=False)
weights = dataset.iloc[:, 1]

In [6]:
x

,ABOID,AGEGRP,AGEIMM,ATTSCH,BedRm,BFNMEMB,CapGn,CFInc,CFInc_AT,CfSize,...,SSGRAD,Subsidy,Tenur,TotInc,TotInc_AT,VALUE,VisMin,Wages,WKSWRK,WRKACT
0,6,11,99,1,5,0,99999999,30,27,4,...,5,9,1,97000,73000,450000,13,95000,6,11
1,6,5,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
2,6,2,99,9,5,0,99999999,30,27,4,...,99,9,1,99999999,99999999,440000,13,99999999,9,99
3,6,12,99,1,4,0,99999999,20,19,4,...,8,9,1,46000,41000,839779,13,19000,6,11
4,6,15,99,1,2,0,99999999,16,15,2,...,6,9,1,30000,26000,60000,13,29000,5,9
5,6,19,99,1,3,0,-3300,28,26,2,...,4,9,1,82000,69000,839779,13,99999999,9,1
6,6,18,99,1,3,0,-3400,28,26,2,...,6,9,1,51000,45000,839779,13,99999999,9,1
7,6,18,99,1,3,0,99999999,13,12,1,...,6,9,1,41000,37000,310000,13,99999999,9,1
8,6,14,99,1,2,0,99999999,25,21,2,...,5,0,2,53000,43000,99999999,13,52000,6,11
9,6,8,99,4,4,0,99999999,33,31,4,...,4,9,1,27000,26000,640000,13,27000,4,7
10,6,11,99,1,4,0,99999999,17,15,4,...,4,0,2,43000,31000,99999999,13,57000,6,11
11,6,1,99,9,4,0,99999999,17,15,4,...,99,0,2,99999999,99999999,99999999,13,99999999,9,99
12,1,16,99,1,2,0,99999999,6,6,1,...,1,0,2,14000,14000,99999999,13,99999999,9,1
13,6,11,99,3,3,0,99999999,30,27,3,...,8,9,1,72000,60000,600000,13,70000,6,11
14,6,11,99,1,3,0,99999999,28,26,4,...,4,9,1,58000,53000,340000,13,55000,6,11
15,6,4,99,9,3,0,99999999,28,26,4,...,99,9,1,99999999,99999999,340000,13,99999999,9,99
16,6,12,99,1,3,0,99999999,23,20,4,...,6,9,1,6000,6000,280000,13,99999999,6,11
17,6,8,99,1,3,0,99999999,25,24,4,...,4,9,1,24000,22000,280000,13,24000,6,11
18,6,15,99,1,2,0,99999999,13,12,1,...,4,0,2,42000,37000,99999999,13,11000,1,4
19,6,11,2,1,3,0,1400,28,25,4,...,8,9,1,120000,98000,550000,12,120000,6,11
20,6,1,99,9,3,0,99999999,28,25,4,...,99,9,1,99999999,99999999,560000,12,99999999,9,99
21,6,12,99,1,4,0,99999999,29,25,4,...,8,9,1,2000,2000,710000,2,99999999,9,1
22,6,19,99,1,3,0,99999999,12,12,2,...,1,9,1,29000,28000,60000,13,1000,9,1
23,6,6,99,2,4,0,99999999,33,31,3,...,1,9,1,99999999,99999999,859257,13,99999999,9,1
24,6,9,99,1,3,0,99999999,14,12,1,...,6,0,2,47000,38000,99999999,13,47000,6,11
25,6,14,99,1,4,0,99999999,15,13,1,...,4,9,1,52000,43000,270000,13,60000,5,9
26,6,1,99,9,5,0,99999999,25,22,4,...,99,9,1,99999999,99999999,1310000,1,99999999,9,99
27,6,8,99,1,5,0,99999999,10,9,1,...,4,9,1,28000,25000,1300000,13,26000,6,11
28,6,1,99,9,4,0,99999999,29,26,4,...,99,9,1,99999999,99999999,956142,12,99999999,9,99
29,6,6,99,2,4,0,99999999,25,22,4,...,1,9,1,99999999,99999999,790000,13,99999999,6,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930391,6,12,99,1,4,0,99999999,31,29,4,...,8,9,1,63000,53000,240000,13,67000,6,11
930392,6,12,99,1,4,0,99999999,88,88,4,...,8,9,1,88888888,88888888,230000,13,88888888,6,11
930393,6,10,99,1,3,0,99999999,24,22,4,...,5,9,1,50000,40000,180000,13,50000,6,11
930394,6,3,99,9,3,0,99999999,24,22,4,...,99,9,1,99999999,99999999,180000,13,99999999,9,99
930395,6,2,99,9,3,0,99999999,24,22,4,...,99,9,1,99999999,99999999,180000,13,99999999,9,99
930396,6,1,99,9,2,0,99999999,9,9,3,...,99,0,2,99999999,99999999,99999999,13,99999999,9,99
930397,6,2,99,9,3,0,99999999,14,13,3,...,99,9,1,99999999,99999999,600000,13,99999999,9,99
930398,6,19,6,1,3,0,1600,31,27,1,...,11,9,1,418101,251438,900000,13,99999999,9,1
930399,6,12,99,1,4,0,-100,28,25,5,...,7,9,1,140000,100000,370000,13,130000,6,11
930400,6,5,99,9,4,0,99999999,28,25,5,...,99,9,1,99999999,99999999,360000,13,99999999,9,99
930401,6,5,99,9,4,0,99999999,28,25,5,...,99,9,1,99999999,99999999,350000,13,99999999,9,99
930402,6,4,99,9,4,0,99999999,28,25,5,...,99,9,1,99999999,99999999,350000,13,99999999,9,99
930403,1,10,99,1,3,1,99999999,8,8,3,...,2,1,2,1000,1,99999999,13,99999999,9,1
930404,6,17,99,1,1,0,99999999,15,13,1,...,1,0,2,52000,41000,99999999,13,17000,5,10
930405,6,11,99,1,2,0,99999999,16,16,1,...,4,0,2,59000,57000,99999999,13,99999999,5,9
930406,6,1,99,9,3,0,99999999,30,27,4,...,99,9,1,99999999,99999999,460000,13,99999999,9,99
930407,6,14,8,1,3,0,99999999,25,21,3,...,8,9,1,64000,49000,390000,4,64000,6,11
930408,6,18,99,1,1,0,99999999,12,12,1,...,6,0,2,37000,36000,99999999,13,28000,5,9
930409,6,21,99,1,2,0,99999999,16,15,2,...,9,9,1,48000,47000,190000,13,1000,9,1
930410,6,11,99,1,4,0,99999999,30,25,4,...,5,9,1,26000,24000,230000,13,22000,5,10
930411,6,11,99,1,4,0,99999999,30,25,4,...,5,9,1,130000,83000,240000,13,120000,3,5
930412,6,3,99,9,4,0,99999999,30,25,4,...,99,9,1,99999999,99999999,250000,13,99999999,9,99
930413,6,10,99,1,5,0,99999999,11,11,2,...,4,9,1,18000,17000,380000,13,99999999,9,1
930414,6,15,2,1,3,0,99999999,24,21,2,...,4,9,1,48000,42000,200000,13,99999999,2,3
930415,6,14,99,1,3,0,99999999,24,21,2,...,4,9,1,49000,42000,200000,13,48000,2,3
930416,6,17,99,1,4,0,200,31,28,2,...,8,9,1,120000,94000,810000,13,130000,6,11
930417,6,13,99,1,8,0,99999999,30,27,4,...,2,8,8,77000,61000,88888888,13,78000,6,11
930418,6,13,99,1,3,0,99999999,21,17,1,...,6,9,1,80000,62000,710000,13,81000,5,9
930419,6,21,7,1,3,0,99999999,13,13,3,...,1,0,2,22000,23000,99999999,2,99999999,9,1
930420,6,14,99,1,3,0,99999999,13,13,3,...,6,0,2,9000,8000,99999999,2,99999999,6,12

There are no null values in the dataset

In [7]:
x.isna().sum()

ABOID               0
AGEGRP              0
AGEIMM              0
ATTSCH              0
BedRm               0
BFNMEMB             0
CapGn               0
CFInc               0
CFInc_AT            0
CfSize              0
CFSTAT              0
CHDBN               0
ChldC               0
CIP2011             0
CIP2011_STEM_SUM    0
Citizen             0
CitOth              0
CMA                 0
CONDO               0
COW                 0
CQPPB               0
DETH123             0
DIST                0
DPGRSUM             0
DTYPE               0
EFDecile            0
EfDIMBM             0
EFInc               0
EFInc_AT            0
EfSize              0
                   ..
POB                 0
POBF                0
POBM                0
POWST               0
PR                  0
PR1                 0
PR5                 0
PresMortG           0
PRIHM               0
PWDUR               0
PWLEAVE             0
PWOCC               0
PWPR                0
REGIND              0
REPAIR              0
Retir               0
ROOMS               0
SempI               0
Sex                 0
SHELCO              0
SSGRAD              0
Subsidy             0
Tenur               0
TotInc              0
TotInc_AT           0
VALUE               0
VisMin              0
Wages               0
WKSWRK              0
WRKACT              0
Length: 120, dtype: int64

Verifying that the metadata is accurate

In [8]:
x[(x['CHDBN'] == 99999999) | (x['CHDBN'] == 8888888)].shape[0]/x.shape[0]

0.8837547733767832

In [9]:
x[x['POB'] == 88].shape

(14478, 120)

Close enough... Taking invalid data seen in metadata and putting in a dictionary

In [10]:
missing_dict = dict(
    AGEGRP=9139,
    MOB1=9884,
    Mob5=51091,
    PR1=188597,
    PR5=88597,
    DPGRSUM=21199,
    ETHDER=31391,
    VisMin=17496,
    HLANO=4081, # This is one of the target columns
    KOL=1754,
    LWAEN=392592,
    LWAFR=392592,
    LWANO=391418,
    LWBEN=392592,
    LWBFR=392592,
    LWBNO=391418,
    MTNEn=1754,
    MTNFr=1754,
    MTNNO=13756, # This is one of the target columns
    NOL=13756,
    AGEIMM=726540,
    CitOth=817447,
    GENSTAT=432,
    IMMCAT5=2412,
    IMMSTAT=2412,
    POB=14478,
    POBF=37281,
    POBM=37281,
    YRIMM=726538,
    ATTSCH=157104,
    CIP2011=157131,
    CIP2011_STEM_SUM=157131,
    HDGREE=157131,
    LOC_ST_RES=157131,
    LOCSTUD=503155,
    SSGRAD=157131,
    COW=391418,
    FPTWK=407453,
    LFACT=157131,
    LSTWRK=157131,
    NAICS=391418,
    NOC16=391418,
    NOCS=391418,
    WKSWRK=391418,
    WRKACT=157131,
    DIST=502619,
    MODE=435003,
    POWST=391418,
    PWDUR=435003,
    PWLEAVE=435003,
    PWOCC=542244,
    PWPR=461131,
    CapGn=844416,
    CFInc=5542,
    CFInc_AT=5542,
    CHDBN=828655,
    ChldC=886332,
    CQPPB=752220,
    EFDecile=5542,
    EfDIMBM=5542,
    EFInc=5542,
    EFInc_AT=5542,
    EICBN=862277,
    EmpIn=384479,
    GovtI=564132,
    GTRfs=399242,
    HHInc=5542,
    HHInc_AT=5542,
    HHMRKINC=5542,
    IncTax=415816,
    Invst=701218,
    LICO=2758,
    LICO_AT=2758,
    LoLIMA=2758,
    LoLIMB=2758,
    LoMBM=2758,
    MrkInc=272659,
    OASGI=795379,
    OtInc=810831,
    Retir=817735,
    SempI=849594,
    TotInc=194147,
    TotInc_AT=193828,
    Wages=427992,
    CfSize=3118,
    EfSize=3118,
    PKID0_1=164769,
    PKID15_24=164769,
    PKID2_5=164769,
    PKID25=164769,
    PKID6_14=164769,
    PKIDS=164769,
    HHSIZE=3118,
    BedRm=8320,
    CONDO=5406,
    DTYPE=2764,
    HCORENEED_IND=45134,
    NOS=8320,
    PresMortG=253489,
    REPAIR=540,
    ROOMS=8320,
    Subsidy=672083,
    Tenur=4849,
    VALUE=258338
)

In [11]:
total_count = x.shape[0]

df_missing = pd.DataFrame(list(missing_dict.items()), columns=['Feature', 'Count'])
df_missing['Ratio'] = df_missing['Count'] / total_count
df_missing

           Feature   Count     Ratio
0           AGEGRP    9139  0.009822
1             MOB1    9884  0.010623
2             Mob5   51091  0.054912
3              PR1  188597  0.202701
4              PR5   88597  0.095222
5          DPGRSUM   21199  0.022784
6           ETHDER   31391  0.033738
7           VisMin   17496  0.018804
8            HLANO    4081  0.004386
9              KOL    1754  0.001885
10           LWAEN  392592  0.421951
11           LWAFR  392592  0.421951
12           LWANO  391418  0.420689
13           LWBEN  392592  0.421951
14           LWBFR  392592  0.421951
15           LWBNO  391418  0.420689
16           MTNEn    1754  0.001885
17           MTNFr    1754  0.001885
18           MTNNO   13756  0.014785
19             NOL   13756  0.014785
20          AGEIMM  726540  0.780872
21          CitOth  817447  0.878578
22         GENSTAT     432  0.000464
23         IMMCAT5    2412  0.002592
24         IMMSTAT    2412  0.002592
25             POB   14478  0.015561
26            POBF   37281  0.040069
27            POBM   37281  0.040069
28           YRIMM  726538  0.780870
29          ATTSCH  157104  0.168853
..             ...     ...       ...
74          LoLIMB    2758  0.002964
75           LoMBM    2758  0.002964
76          MrkInc  272659  0.293049
77           OASGI  795379  0.854859
78           OtInc  810831  0.871467
79           Retir  817735  0.878887
80           SempI  849594  0.913129
81          TotInc  194147  0.208666
82       TotInc_AT  193828  0.208323
83           Wages  427992  0.459998
84          CfSize    3118  0.003351
85          EfSize    3118  0.003351
86         PKID0_1  164769  0.177091
87       PKID15_24  164769  0.177091
88         PKID2_5  164769  0.177091
89          PKID25  164769  0.177091
90        PKID6_14  164769  0.177091
91           PKIDS  164769  0.177091
92          HHSIZE    3118  0.003351
93           BedRm    8320  0.008942
94           CONDO    5406  0.005810
95           DTYPE    2764  0.002971
96   HCORENEED_IND   45134  0.048509
97             NOS    8320  0.008942
98       PresMortG  253489  0.272445
99          REPAIR     540  0.000580
100          ROOMS    8320  0.008942
101        Subsidy  672083  0.722343
102          Tenur    4849  0.005212
103          VALUE  258338  0.277657

[104 rows x 3 columns]

In [12]:
df_missing = df_missing.sort_values(by=['Ratio'], ascending=False)
source = ColumnDataSource(data=df_missing)

p = figure(x_range=df_missing['Feature'], plot_height=500, plot_width=2000, title="Missing Ratios",
           toolbar_location=None, x_axis_label='Feature', y_axis_label='Ratio', tools="")
p.vbar(x='Feature', top='Ratio', width=0.9, source=source)

p.xaxis.major_label_orientation = np.pi/4
p.xgrid.grid_line_color = None
p.y_range.start = 0

p.add_tools(HoverTool(tooltips=[('Feature', '@Feature'),
                                ('Ratio', '@Ratio')]))

show(p)

Looking at the above data, a logical point to prune features would be those that are over 30% missing ratio. Proceeding with this option

In [13]:
df_missing_pruned = df_missing[df_missing['Ratio'] > 0.3]
df_missing_pruned

     Feature   Count     Ratio
56     ChldC  886332  0.952614
62     EICBN  862277  0.926760
80     SempI  849594  0.913129
52     CapGn  844416  0.907563
55     CHDBN  828655  0.890624
79     Retir  817735  0.878887
21    CitOth  817447  0.878578
78     OtInc  810831  0.871467
77     OASGI  795379  0.854859
57     CQPPB  752220  0.808473
20    AGEIMM  726540  0.780872
28     YRIMM  726538  0.780870
70     Invst  701218  0.753657
101  Subsidy  672083  0.722343
64     GovtI  564132  0.606319
50     PWOCC  542244  0.582794
34   LOCSTUD  503155  0.540782
45      DIST  502619  0.540206
51      PWPR  461131  0.495615
46      MODE  435003  0.467534
48     PWDUR  435003  0.467534
49   PWLEAVE  435003  0.467534
83     Wages  427992  0.459998
69    IncTax  415816  0.446912
37     FPTWK  407453  0.437923
65     GTRfs  399242  0.429098
11     LWAFR  392592  0.421951
10     LWAEN  392592  0.421951
14     LWBFR  392592  0.421951
13     LWBEN  392592  0.421951
12     LWANO  391418  0.420689
40     NAICS  391418  0.420689
47     POWST  391418  0.420689
15     LWBNO  391418  0.420689
43    WKSWRK  391418  0.420689
36       COW  391418  0.420689
42      NOCS  391418  0.420689
41     NOC16  391418  0.420689
63     EmpIn  384479  0.413231

In [14]:
len(df_missing_pruned)

39

Feature set needs to be further pruned...

In [15]:
df_unpruned = df_missing[df_missing['Ratio'] <= 0.3]
to_impute = df_unpruned['Feature'].tolist()
to_impute

['MrkInc',
 'VALUE',
 'PresMortG',
 'TotInc',
 'TotInc_AT',
 'PR1',
 'PKID0_1',
 'PKID2_5',
 'PKID25',
 'PKID6_14',
 'PKIDS',
 'PKID15_24',
 'CIP2011',
 'CIP2011_STEM_SUM',
 'LFACT',
 'HDGREE',
 'LOC_ST_RES',
 'WRKACT',
 'SSGRAD',
 'LSTWRK',
 'ATTSCH',
 'PR5',
 'Mob5',
 'HCORENEED_IND',
 'POBF',
 'POBM',
 'ETHDER',
 'DPGRSUM',
 'VisMin',
 'POB',
 'NOL',
 'MTNNO',
 'MOB1',
 'AGEGRP',
 'BedRm',
 'ROOMS',
 'NOS',
 'HHInc_AT',
 'EFDecile',
 'EfDIMBM',
 'EFInc_AT',
 'EFInc',
 'HHMRKINC',
 'CFInc_AT',
 'CFInc',
 'HHInc',
 'CONDO',
 'Tenur',
 'HLANO',
 'HHSIZE',
 'CfSize',
 'EfSize',
 'DTYPE',
 'LoLIMA',
 'LoLIMB',
 'LICO',
 'LoMBM',
 'LICO_AT',
 'IMMCAT5',
 'IMMSTAT',
 'MTNFr',
 'MTNEn',
 'KOL',
 'REPAIR',
 'GENSTAT']

In [16]:
df_unpruned.shape[0]

65

####  Data Imputation

Need to impute the dummy values used in the data, e.g. the â€œ99999999â€ seen in the Wages column. The PDF metadata tells you for each column what it used for its dummy values.

Simplest solution: Remove the rows which have these values.

Simple solution: take the average (mean/median/mode for numerical, median/mode for categorical) of the non-dummy values and replace dummy values by the average found.

Ultra fun solution: train a model (like our best friend, XGBoost) to predict the missing values.

#### Going with approach 2: replace dummy values with mean for continuous variables and mode for categorical variables

In [17]:
imputed = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv", usecols=to_impute)

In [18]:
na_dict = {
     'MrkInc':[88888888, 99999999],
     'VALUE':[88888888, 99999999],
     'PresMortG':[9],
     'TotInc':[88888888, 99999999],
     'TotInc_AT':[88888888, 99999999],
     'PR1':[99],
     'PKID0_1':[9],
     'PKID15_24':[9],
     'PKID2_5':[9],
     'PKID25':[9],
     'PKIDS':[9],
     'PKID6_14':[9],
     'WRKACT':[99],
     'LOC_ST_RES':[9],
     'HDGREE':[99],
     'CIP2011_STEM_SUM':[99],
     'SSGRAD':[99],
     'CIP2011':[99],
     'LFACT':[99],
     'LSTWRK':[9],
     'ATTSCH':[9],
     'PR5':[99],
     'Mob5':[9],
     'HCORENEED_IND':[888],
     'POBF':[8],
     'POBM':[8],
     'ETHDER':[88],
     'DPGRSUM':[88],
     'VisMin':[88],
     'POB':[88],
     'NOL':[88],
     'MTNNO':[88], # This is one of the target columns
     'MOB1':[9],
     'AGEGRP':[88],
     'BedRm':[8],
     'ROOMS':[88],
     'NOS':[8],
     'EFInc_AT':[88],
     'CFInc_AT':[88],
     'EFDecile':[88],
     'EfDIMBM':[88],
     'CFInc':[88],
     'HHInc':[88],
     'HHInc_AT':[88],
     'HHMRKINC':[88],
     'EFInc':[88],
     'CONDO':[8],
     'Tenur':[8],
     'HLANO':[9], # This is one of the target columns
     'HHSIZE':[8],
     'CfSize':[8],
     'EfSize':[8],
     'DTYPE':[8],
     'LoLIMB':[9],
     'LoMBM':[9],
     'LICO':[9],
     'LICO_AT':[9],
     'LoLIMA':[9],
     'IMMCAT5':[88],
     'IMMSTAT':[8],
     'MTNFr':[8],
     'MTNEn':[8],
     'KOL':[8],
     'REPAIR':[8],
     'GENSTAT':[8]
}

In [19]:
imputed['MrkInc'].value_counts()

 99999999    267117
 1000         19921
 2000         13895
 3000         12954
 1            12610
 4000         11853
 5000         11295
 6000         11052
 7000         11043
 10000        10711
 110000       10684
 11000        10625
 9000         10578
 12000        10495
 8000         10481
 13000        10248
 14000         9628
 15000         9515
 16000         9336
 17000         8877
 18000         8653
 21000         8519
 19000         8394
 20000         8343
 22000         8165
 23000         8022
 24000         7988
 25000         7917
 26000         7823
 120000        7627
              ...
-25000            9
-27000            9
 460000           9
 470000           9
 420000           9
 480000           8
 410000           8
-35000            8
 490000           7
 450000           7
 430000           7
-33000            4
-31000            4
 530000           4
 520000           4
-28000            4
-37000            4
-44000            3
 540000           3
-34000            3
-36000            2
-42000            2
-47000            2
-38000            2
-49000            2
-41000            2
-48000            2
 500000           1
-39000            1
-46000            1
Name: MrkInc, Length: 265, dtype: int64

In [20]:
# Replacing the dummy values with the median for each of the columns
# for col in na_dict.keys():
#     curr = imputed[col]
#     valid = curr
#     for val in na_dict[col]:
#         valid = valid[valid != val]
#     median = valid.median()
# #     print(f'median for {col} is {median}')
#     for val in na_dict[col]:
#         curr[curr == val] = median

In [21]:
# Replacing the dummy values
for col in na_dict.keys():
    curr = imputed[col]
    valid = curr
    vals = na_dict[col]
    if len(vals) > 1: # variable is continuous
        for val in vals:
            valid = valid[valid != val]
        average = int(valid.mean())
    else: # variable is categorical
        valid = valid[valid != vals[0]]
        average = valid.mode().iloc[0]
#     print(f'average for {col} is {average}')
    for val in vals:
        curr[curr == val] = average

In [22]:
imputed['MrkInc'].value_counts()

 49131     272659
 1000       19921
 2000       13895
 3000       12954
 1          12610
 4000       11853
 5000       11295
 6000       11052
 7000       11043
 10000      10711
 110000     10684
 11000      10625
 9000       10578
 12000      10495
 8000       10481
 13000      10248
 14000       9628
 15000       9515
 16000       9336
 17000       8877
 18000       8653
 21000       8519
 19000       8394
 20000       8343
 22000       8165
 23000       8022
 24000       7988
 25000       7917
 26000       7823
 120000      7627
            ...
 420000         9
 460000         9
-25000          9
-27000          9
 470000         9
-35000          8
 480000         8
 410000         8
 450000         7
 430000         7
 490000         7
 530000         4
-37000          4
-28000          4
 520000         4
-31000          4
-33000          4
-44000          3
-34000          3
 540000         3
-42000          2
-38000          2
-36000          2
-49000          2
-48000          2
-47000          2
-41000          2
-39000          1
-46000          1
 500000         1
Name: MrkInc, Length: 264, dtype: int64

### Now that the selected features have been imputed, combine with the original dataset to have preprocessed data for model fitting

In [23]:
all_cols = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv", nrows=1).columns
unimputed_cols = list(set(all_cols) - set(missing_dict.keys()))
df_selected = pd.read_csv("pumf-98M0001-E-2016-individuals_F1.csv", usecols=unimputed_cols)
df_selected = pd.concat([df_selected, imputed], axis=1, sort=False).reset_index()

df_selected

,index,PPSORT,WEIGHT,WT1,WT2,WT3,WT4,WT5,WT6,WT7,...,PresMortG,REPAIR,ROOMS,SSGRAD,Tenur,TotInc,TotInc_AT,VALUE,VisMin,WRKACT
0,0,453141,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,11,5,1,97000,73000,450000,13,11
1,1,923226,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,11,4,1,49071,39759,440000,13,11
2,2,385097,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,11,4,1,49071,39759,440000,13,11
3,3,732612,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,8,8,1,46000,41000,839779,13,11
4,4,143665,37.120914,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,3,5,6,1,30000,26000,60000,13,9
5,5,459269,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,2,7,4,1,82000,69000,839779,13,1
6,6,632419,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,2,7,6,1,51000,45000,839779,13,1
7,7,284347,37.019784,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,1,5,6,1,41000,37000,310000,13,1
8,8,52611,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,4,5,2,53000,43000,494190,13,11
9,9,36927,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,10,4,1,27000,26000,640000,13,7
10,10,268123,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,10,4,2,43000,31000,494190,13,11
11,11,140411,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,10,4,2,49071,39759,494190,13,11
12,12,361694,37.039118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,4,1,2,14000,14000,494190,13,1
13,13,700087,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,7,8,1,72000,60000,600000,13,11
14,14,488335,37.039118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,7,4,1,58000,53000,340000,13,11
15,15,491822,37.039118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,7,4,1,49071,39759,340000,13,11
16,16,871649,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,10,6,1,6000,6000,280000,13,11
17,17,591795,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,8,4,1,24000,22000,280000,13,11
18,18,584156,37.042280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,5,4,2,42000,37000,494190,13,4
19,19,753984,37.042280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,8,8,1,120000,98000,550000,12,11
20,20,143935,37.042280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,8,4,1,49071,39759,560000,12,11
21,21,838385,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,10,8,1,2000,2000,710000,2,1
22,22,379910,37.039118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,6,1,1,29000,28000,60000,13,1
23,23,553949,37.037277,592.596438,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,10,1,1,49071,39759,859257,13,1
24,24,558160,37.012589,0.000000,0.000000,0.000000,0.000000,0.000000,592.201426,0.000000,...,1,1,6,6,2,47000,38000,494190,13,11
25,25,476911,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,6,4,1,52000,43000,270000,13,9
26,26,360026,37.042280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,8,4,1,49071,39759,1310000,1,11
27,27,359002,37.042280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,8,4,1,28000,25000,1300000,13,11
28,28,816278,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,11,4,1,49071,39759,956142,12,11
29,29,810849,37.042280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,8,1,1,49071,39759,790000,13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930391,930391,460212,37.040742,0.000000,592.651871,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,8,8,1,63000,53000,240000,13,11
930392,930392,88813,37.040742,0.000000,592.651871,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,8,8,1,49071,39759,230000,13,11
930393,930393,756172,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,10,5,1,50000,40000,180000,13,11
930394,930394,916873,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,10,4,1,49071,39759,180000,13,11
930395,930395,413902,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,10,4,1,49071,39759,180000,13,11
930396,930396,829443,37.041550,0.000000,0.000000,0.000000,0.000000,592.664803,0.000000,0.000000,...,1,2,4,4,2,49071,39759,494190,13,11
930397,930397,491461,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,592.596438,...,0,1,5,4,1,49071,39759,600000,13,11
930398,930398,6746,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,1,7,11,1,418101,251438,900000,13,1
930399,930399,306904,37.051222,0.000000,0.000000,0.000000,592.819547,0.000000,0.000000,0.000000,...,1,1,7,7,1,140000,100000,370000,13,11
930400,930400,271742,37.051222,0.000000,0.000000,0.000000,592.819547,0.000000,0.000000,0.000000,...,1,1,7,4,1,49071,39759,360000,13,11
930401,930401,132951,37.051222,0.000000,0.000000,0.000000,592.819547,0.000000,0.000000,0.000000,...,1,1,7,4,1,49071,39759,350000,13,11
930402,930402,56338,37.051222,0.000000,0.000000,0.000000,592.819547,0.000000,0.000000,0.000000,...,1,1,7,4,1,49071,39759,350000,13,11
930403,930403,39799,37.019784,0.000000,0.000000,0.000000,0.000000,592.316546,0.000000,0.000000,...,1,3,5,2,2,1000,1,494190,13,1
930404,930404,627018,37.032779,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,3,1,2,52000,41000,494190,13,10
930405,930405,482378,37.019784,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,4,4,2,59000,57000,494190,13,9
930406,930406,704428,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,9,4,1,49071,39759,460000,13,11
930407,930407,319614,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,1,6,8,1,64000,49000,390000,4,11
930408,930408,12864,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,592.596438,0.000000,...,1,1,4,6,2,37000,36000,494190,13,9
930409,930409,695773,37.032779,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,1,8,9,1,48000,47000,190000,13,1
930410,930410,868388,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,592.664803,...,1,1,7,5,1,26000,24000,230000,13,10
930411,930411,397491,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,592.664803,...,1,1,7,5,1,130000,83000,240000,13,5
930412,930412,892877,37.041550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,592.664803,...,1,1,7,4,1,49071,39759,250000,13,11
930413,930413,700253,37.019784,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,2,11,4,1,18000,17000,380000,13,1
930414,930414,177714,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,592.596438,...,1,1,5,4,1,48000,42000,200000,13,3
930415,930415,38332,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,592.596438,...,1,1,5,4,1,49000,42000,200000,13,3
930416,930416,700854,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,592.596438,0.000000,...,0,1,11,8,1,120000,94000,810000,13,11
930417,930417,821443,37.037277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8,1,5,2,1,77000,61000,494190,13,11
930418,930418,116531,37.042280,0.000000,0.000000,592.676474,0.000000,0.000000,0.000000,0.000000,...,1,2,5,6,1,80000,62000,710000,13,9
930419,930419,499993,37.037277,0.000000,0.000000,0.000000,592.596438,0.000000,0.000000,0.000000,...,1,2,7,1,2,22000,23000,494190,2,1
930420,930420,339051,37.037277,0.000000,0.000000,0.000000,592.596438,0.000000,0.000000,0.000000,...,1,2,7,6,2,9000,8000,494190,2,12

### Writing data with pruned and imputed columns to new csv

In [24]:
df_selected.to_csv('pumf-2016-selected-features.csv', index=False)