In [104]:
import pandas as pd
fields = ['WEIGHT', 'ABOID', 'AGEGRP', 'ATTSCH', 'BedRm', 'BFNMEMB', 'CFInc',
       'CFInc_AT', 'CfSize', 'CFSTAT', 'CIP2011', 'CIP2011_STEM_SUM',
       'Citizen', 'CitOth', 'CMA', 'CONDO', 'COW', 'DETH123', 'DPGRSUM',
       'DTYPE', 'EFDecile', 'EfDIMBM', 'EFInc', 'EFInc_AT', 'EfSize',
       'ETHDER', 'GENSTAT', 'HCORENEED_IND', 'HDGREE', 'HHInc',
       'HHInc_AT', 'HHMRKINC', 'HHSIZE', 'HHTYPE',
       'HLANO', 'IMMCAT5', 'IMMSTAT',
       'LFACT', 'LICO', 'LICO_AT', 'LOC_ST_RES', 'LoLIMA', 'LoLIMB',
       'LoMBM', 'LSTWRK', 'MarStH', 'MOB1', 'Mob5', 'MrkInc',
       'MTNNO', 'NOS', 'PKID0_1', 'PKID15_24', 'PKID2_5',
       'PKID25', 'PKID6_14', 'PKIDS', 'POB', 'POBF', 'POBM', 'PR', 'PR1',
       'PR5', 'PRIHM', 'REGIND', 'REPAIR', 'ROOMS', 'Sex', 'SHELCO',
       'SSGRAD', 'Tenur', 'TotInc', 'TotInc_AT', 'VisMin', 'WRKACT']

dataset = pd.read_csv("pumf-2016-selected-features-No-MTEn-English.csv", usecols=fields)
dataset.head()

,WEIGHT,ABOID,AGEGRP,ATTSCH,BedRm,BFNMEMB,CFInc,CFInc_AT,CfSize,CFSTAT,...,REPAIR,ROOMS,Sex,SHELCO,SSGRAD,Tenur,TotInc,TotInc_AT,VisMin,WRKACT
0,37.120914,6,15,1,2,0,16,15,2,1,...,3,5,1,700,6,1,30000,26000,13,9
1,37.019784,6,18,1,3,0,13,12,1,6,...,1,5,1,900,6,1,41000,37000,13,1
2,37.041550,6,14,1,2,0,25,21,2,1,...,1,4,2,900,5,2,53000,43000,13,11
3,37.042280,6,11,1,3,0,28,25,4,2,...,1,8,2,2200,8,1,120000,98000,12,11
4,37.037277,6,12,1,4,0,29,25,4,2,...,1,10,1,2700,8,1,2000,2000,2,1

In [105]:
motherTongueDict = {}
motherTongueDict['1'] = 'No non-official languages'
motherTongueDict['2'] = 'Aboriginal languages'
motherTongueDict['3'] = 'Arabic'
motherTongueDict['4'] = 'Mandarin'
motherTongueDict['5'] = 'Cantonese'
motherTongueDict['6'] = 'Chinese languages'
motherTongueDict['7'] = 'German'
motherTongueDict['8'] = 'All other languages' #'Other Germanic languages'
motherTongueDict['9'] = 'All other languages' #'Greek'
motherTongueDict['10'] = 'Urdu'
motherTongueDict['11'] = 'Persian (Farsi)'
motherTongueDict['12'] = 'Other Indo-Iranian languages'
motherTongueDict['13'] = 'Italian'
motherTongueDict['14'] = 'Polish'
motherTongueDict['15'] = 'Portuguese'
motherTongueDict['16'] = 'Punjabi (Panjabi)'
motherTongueDict['17'] = 'Spanish'
motherTongueDict['18'] = 'All other languages' #'Ukrainian'
motherTongueDict['19'] = 'All other languages' #'Vietnamese'
motherTongueDict['20'] = 'Austro-Asiatic languages'
motherTongueDict['21'] = 'Other European languages'
motherTongueDict['22'] = 'Russian'
motherTongueDict['23'] = 'All other languages' #'Other Slavic languages'
motherTongueDict['24'] = 'All other languages' #'Uralic languages'
motherTongueDict['25'] = 'Other Afro-Asiatic and African languages' #'Other Afro-Asiatic languages'
motherTongueDict['26'] = 'Tamil'
motherTongueDict['27'] = 'All other languages' #'Other Dravidian languages'
motherTongueDict['28'] = 'All other languages' #'Korean'
motherTongueDict['29'] = 'Other East and Southeast Asian languages'
motherTongueDict['30'] = 'Tagalog (Pilipino, Filipino)'
motherTongueDict['31'] = 'All other languages' #'Niger-Congo languages and other African languages'
motherTongueDict['32'] = 'All other languages' #'All other single languages'
motherTongueDict['88'] = 'Not available'

In [106]:
homeLanguageDict = {}
homeLanguageDict['1'] = 'No non-official languages'
homeLanguageDict['2'] = 'Aboriginal languages'
homeLanguageDict['3'] = 'Italian'
homeLanguageDict['4'] = 'Spanish'
homeLanguageDict['5'] = 'Portugese'
homeLanguageDict['6'] = 'German'
homeLanguageDict['7'] = 'Russian'
homeLanguageDict['8'] = 'Polish'
homeLanguageDict['9'] = 'Slavic languages'
homeLanguageDict['10'] = 'Other European languages'
homeLanguageDict['11'] = 'Arabic'
homeLanguageDict['12'] = 'Other Afro-Asiatic and African languages'
homeLanguageDict['13'] = 'Punjabi (Panjabi)'
homeLanguageDict['14'] = 'Urdu'
homeLanguageDict['15'] = 'Persian (Farsi)'
homeLanguageDict['16'] = 'Other Indo-Iranian languages'
homeLanguageDict['17'] = 'Cantonese'
homeLanguageDict['18'] = 'Mandarin'
homeLanguageDict['19'] = 'Chinese languages'
homeLanguageDict['20'] = 'Austro-Asiatic languages'
homeLanguageDict['21'] = 'Tagalog (Pilipino, Filipino)'
homeLanguageDict['22'] = 'Other East and Southeast Asian languages'
homeLanguageDict['23'] = 'Tamil'
homeLanguageDict['24'] = 'All other languages'
homeLanguageDict['88'] = 'Not available'

In [107]:
# dataset = dataset[dataset.HLANO != 88]
# dataset = dataset[dataset.MTNNO != 88]
# class label: home language part A - first language write in component
homeLang = dataset['HLANO']
# class label: mother tongue part A - first language write in component
motherTongue = dataset['MTNNO']
fields.remove('HLANO')
fields.remove('MTNNO')
homeLanguageMapped = homeLang.apply(lambda x: homeLanguageDict[str(x)])
motherTongueMapped = motherTongue.apply(lambda x: motherTongueDict[str(x)])
languageShift = homeLanguageMapped.ne(motherTongueMapped)

fields.remove('WEIGHT')
x = dataset[fields]
weights = dataset["WEIGHT"]

In [108]:
homeLanguageMapped

0         No non-official languages
1         No non-official languages
2         No non-official languages
3         No non-official languages
4         No non-official languages
                    ...
387812    No non-official languages
387813    No non-official languages
387814    No non-official languages
387815    No non-official languages
387816                    Cantonese
Name: HLANO, Length: 387817, dtype: object

In [109]:
motherTongueMapped

0            No non-official languages
1            No non-official languages
2            No non-official languages
3                            Cantonese
4                             Mandarin
                      ...
387812    Tagalog (Pilipino, Filipino)
387813       No non-official languages
387814       No non-official languages
387815       No non-official languages
387816                       Cantonese
Name: MTNNO, Length: 387817, dtype: object

In [110]:
languageShift

0         False
1         False
2         False
3          True
4          True
          ...
387812     True
387813    False
387814    False
387815    False
387816    False
Length: 387817, dtype: bool

In [111]:
x

,ABOID,AGEGRP,ATTSCH,BedRm,BFNMEMB,CFInc,CFInc_AT,CfSize,CFSTAT,CIP2011,...,REPAIR,ROOMS,Sex,SHELCO,SSGRAD,Tenur,TotInc,TotInc_AT,VisMin,WRKACT
0,6,15,1,2,0,16,15,2,1,5,...,3,5,1,700,6,1,30000,26000,13,9
1,6,18,1,3,0,13,12,1,6,5,...,1,5,1,900,6,1,41000,37000,13,1
2,6,14,1,2,0,25,21,2,1,11,...,1,4,2,900,5,2,53000,43000,13,11
3,6,11,1,3,0,28,25,4,2,7,...,1,8,2,2200,8,1,120000,98000,12,11
4,6,12,1,4,0,29,25,4,2,6,...,1,10,1,2700,8,1,2000,2000,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387812,6,14,1,3,0,25,21,3,2,7,...,1,6,2,1500,8,1,64000,49000,4,11
387813,6,11,1,4,0,30,25,4,2,4,...,1,7,1,1200,5,1,26000,24000,13,10
387814,6,11,1,4,0,30,25,4,2,8,...,1,7,2,1400,5,1,130000,83000,13,5
387815,6,3,9,4,0,30,25,4,4,99,...,1,7,2,1300,99,1,99999999,99999999,13,99
387816,6,21,1,3,0,13,13,3,3,13,...,2,7,1,1500,1,2,22000,23000,2,1

In [112]:
weights

0         37.120914
1         37.019784
2         37.041550
3         37.042280
4         37.037277
            ...
387812    37.041550
387813    37.041550
387814    37.041550
387815    37.041550
387816    37.037277
Name: WEIGHT, Length: 387817, dtype: float64

In [113]:
from sklearn import datasets

In [114]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

In [115]:
from sklearn.model_selection import train_test_split
weights_train, weights_test, x_train, x_test, languageShift_train, languageShift_test = train_test_split(weights, x, languageShift)

In [116]:
classifier.fit(x_train, languageShift_train, weights_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [117]:
languageShift_pred = pd.Series(classifier.predict(x_test))

In [118]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

The Confusion Matrix indicates, given the predicted language (row names), for how many records did the algorith match the actual language. The classification report and accuracy score are other ways to evaluate how well the classification algorithm performed.

In [119]:
confusionMatrixLanguageShift = pd.DataFrame(
    confusion_matrix(languageShift_test,languageShift_pred), 
    index=['False', 'True'], 
    columns=['False', 'True'], 
)

In [120]:
print(confusionMatrixLanguageShift)
print(classification_report(languageShift_test,languageShift_pred,target_names=['False', 'True']))
print(accuracy_score(languageShift_test, languageShift_pred))

       False  True
False  75626     0
True   21329     0
              precision    recall  f1-score   support

       False       0.78      1.00      0.88     75626
        True       0.00      0.00      0.00     21329

    accuracy                           0.78     96955
   macro avg       0.39      0.50      0.44     96955
weighted avg       0.61      0.78      0.68     96955

0.7800113454695478

C:\Users\fogelm\AppData\Roaming\Python\Python37\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [121]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\programdata\anaconda3\lib\site-packages (0.8.6)

In [122]:
from tabulate import tabulate
importances = classifier.get_params()
print(importances)
#headers = ["name", "score"]
#values = sorted(zip(x_train.columns, classifier.feature_importances_), key=lambda x: x[1] * -1)
#print(tabulate(values, headers, tablefmt="plain"))

{'priors': None, 'var_smoothing': 1e-09}

In [123]:
#from sklearn.tree import export_graphviz
#estimator = classifier.estimators_[5]
# Creates dot file named randomForestTreeSample.dot
#export_graphviz(estimator, 
#                out_file='randomForestTreeSample.dot', 
#                feature_names = list(x.columns),
#                class_names = ['False', 'True'],
#                rounded = True, proportion = False, 
#                precision = 2, filled = True,
#                max_depth=5)