In [1]:
import pandas as pd
fields = ['WEIGHT', 'ABOID', 'AGEGRP', 'ATTSCH', 'BedRm', 'BFNMEMB', 'CFInc',
       'CFInc_AT', 'CfSize', 'CFSTAT', 'CIP2011', 'CIP2011_STEM_SUM',
       'Citizen', 'CitOth', 'CMA', 'CONDO', 'COW', 'DETH123', 'DPGRSUM',
       'DTYPE', 'EFDecile', 'EfDIMBM', 'EFInc', 'EFInc_AT', 'EfSize',
       'ETHDER', 'GENSTAT', 'HCORENEED_IND', 'HDGREE', 'HHInc',
       'HHInc_AT', 'HHMRKINC', 'HHSIZE', 'HHTYPE',
       'HLANO', 'IMMCAT5', 'IMMSTAT',
       'LFACT', 'LICO', 'LICO_AT', 'LOC_ST_RES', 'LoLIMA', 'LoLIMB',
       'LoMBM', 'LSTWRK', 'MarStH', 'MOB1', 'Mob5', 'MrkInc',
       'MTNNO', 'NOS', 'PKID0_1', 'PKID15_24', 'PKID2_5',
       'PKID25', 'PKID6_14', 'PKIDS', 'POB', 'POBF', 'POBM', 'PR', 'PR1',
       'PR5', 'PRIHM', 'REGIND', 'REPAIR', 'ROOMS', 'Sex', 'SHELCO',
       'SSGRAD', 'Tenur', 'TotInc', 'TotInc_AT', 'VisMin', 'WRKACT']

dataset = pd.read_csv("pumf-2016-selected-features-No-MTEn-English.csv", usecols=fields)
dataset.head()

,WEIGHT,ABOID,AGEGRP,ATTSCH,BedRm,BFNMEMB,CFInc,CFInc_AT,CfSize,CFSTAT,...,REPAIR,ROOMS,Sex,SHELCO,SSGRAD,Tenur,TotInc,TotInc_AT,VisMin,WRKACT
0,37.120914,6,15,1,2,0,16,15,2,1,...,3,5,1,700,6,1,30000,26000,13,9
1,37.019784,6,18,1,3,0,13,12,1,6,...,1,5,1,900,6,1,41000,37000,13,1
2,37.041550,6,14,1,2,0,25,21,2,1,...,1,4,2,900,5,2,53000,43000,13,11
3,37.042280,6,11,1,3,0,28,25,4,2,...,1,8,2,2200,8,1,120000,98000,12,11
4,37.037277,6,12,1,4,0,29,25,4,2,...,1,10,1,2700,8,1,2000,2000,2,1

In [2]:
motherTongueDict = {}
motherTongueDict['1'] = 'No non-official languages'
motherTongueDict['2'] = 'Aboriginal languages'
motherTongueDict['3'] = 'Arabic'
motherTongueDict['4'] = 'Mandarin'
motherTongueDict['5'] = 'Cantonese'
motherTongueDict['6'] = 'Chinese languages'
motherTongueDict['7'] = 'German'
motherTongueDict['8'] = 'All other languages' #'Other Germanic languages'
motherTongueDict['9'] = 'All other languages' #'Greek'
motherTongueDict['10'] = 'Urdu'
motherTongueDict['11'] = 'Persian (Farsi)'
motherTongueDict['12'] = 'Other Indo-Iranian languages'
motherTongueDict['13'] = 'Italian'
motherTongueDict['14'] = 'Polish'
motherTongueDict['15'] = 'Portuguese'
motherTongueDict['16'] = 'Punjabi (Panjabi)'
motherTongueDict['17'] = 'Spanish'
motherTongueDict['18'] = 'All other languages' #'Ukrainian'
motherTongueDict['19'] = 'All other languages' #'Vietnamese'
motherTongueDict['20'] = 'Austro-Asiatic languages'
motherTongueDict['21'] = 'Other European languages'
motherTongueDict['22'] = 'Russian'
motherTongueDict['23'] = 'All other languages' #'Other Slavic languages'
motherTongueDict['24'] = 'All other languages' #'Uralic languages'
motherTongueDict['25'] = 'Other Afro-Asiatic and African languages' #'Other Afro-Asiatic languages'
motherTongueDict['26'] = 'Tamil'
motherTongueDict['27'] = 'All other languages' #'Other Dravidian languages'
motherTongueDict['28'] = 'All other languages' #'Korean'
motherTongueDict['29'] = 'Other East and Southeast Asian languages'
motherTongueDict['30'] = 'Tagalog (Pilipino, Filipino)'
motherTongueDict['31'] = 'All other languages' #'Niger-Congo languages and other African languages'
motherTongueDict['32'] = 'All other languages' #'All other single languages'
motherTongueDict['88'] = 'Not available'

In [3]:
homeLanguageDict = {}
homeLanguageDict['1'] = 'No non-official languages'
homeLanguageDict['2'] = 'Aboriginal languages'
homeLanguageDict['3'] = 'Italian'
homeLanguageDict['4'] = 'Spanish'
homeLanguageDict['5'] = 'Portugese'
homeLanguageDict['6'] = 'German'
homeLanguageDict['7'] = 'Russian'
homeLanguageDict['8'] = 'Polish'
homeLanguageDict['9'] = 'Slavic languages'
homeLanguageDict['10'] = 'Other European languages'
homeLanguageDict['11'] = 'Arabic'
homeLanguageDict['12'] = 'Other Afro-Asiatic and African languages'
homeLanguageDict['13'] = 'Punjabi (Panjabi)'
homeLanguageDict['14'] = 'Urdu'
homeLanguageDict['15'] = 'Persian (Farsi)'
homeLanguageDict['16'] = 'Other Indo-Iranian languages'
homeLanguageDict['17'] = 'Cantonese'
homeLanguageDict['18'] = 'Mandarin'
homeLanguageDict['19'] = 'Chinese languages'
homeLanguageDict['20'] = 'Austro-Asiatic languages'
homeLanguageDict['21'] = 'Tagalog (Pilipino, Filipino)'
homeLanguageDict['22'] = 'Other East and Southeast Asian languages'
homeLanguageDict['23'] = 'Tamil'
homeLanguageDict['24'] = 'All other languages'
homeLanguageDict['88'] = 'Not available'

In [4]:
# dataset = dataset[dataset.HLANO != 88]
# dataset = dataset[dataset.MTNNO != 88]
# class label: home language part A - first language write in component
homeLang = dataset['HLANO']
# class label: mother tongue part A - first language write in component
motherTongue = dataset['MTNNO']
fields.remove('HLANO')
fields.remove('MTNNO')
homeLanguageMapped = homeLang.apply(lambda x: homeLanguageDict[str(x)])
motherTongueMapped = motherTongue.apply(lambda x: motherTongueDict[str(x)])
languageShift = homeLanguageMapped.ne(motherTongueMapped)

fields.remove('WEIGHT')
x = dataset[fields]
weights = dataset["WEIGHT"]

In [5]:
homeLanguageMapped

0                        No non-official languages
1                        No non-official languages
2                        No non-official languages
3                        No non-official languages
4                        No non-official languages
5                        No non-official languages
6                        No non-official languages
7                                    Not available
8                                    Not available
9                        No non-official languages
10                                   Not available
11        Other Afro-Asiatic and African languages
12                       No non-official languages
13                                       Portugese
14                                       Portugese
15                       No non-official languages
16                       No non-official languages
17                       No non-official languages
18                    Tagalog (Pilipino, Filipino)
19                                Slavic languages
20                                Slavic languages
21                       No non-official languages
22                                       Cantonese
23                                       Cantonese
24                                            Urdu
25                       No non-official languages
26                       No non-official languages
27                                          German
28                                          German
29                       No non-official languages
                            ...
387787                   No non-official languages
387788                   No non-official languages
387789                   No non-official languages
387790                                       Tamil
387791                   No non-official languages
387792                                       Tamil
387793                                       Tamil
387794                   No non-official languages
387795                   No non-official languages
387796                   No non-official languages
387797                                       Tamil
387798                   No non-official languages
387799                                    Mandarin
387800                   No non-official languages
387801                Other Indo-Iranian languages
387802                   No non-official languages
387803                   No non-official languages
387804                   No non-official languages
387805                   No non-official languages
387806                   No non-official languages
387807                   No non-official languages
387808                   No non-official languages
387809                   No non-official languages
387810                   No non-official languages
387811                   No non-official languages
387812                   No non-official languages
387813                   No non-official languages
387814                   No non-official languages
387815                   No non-official languages
387816                                   Cantonese
Name: HLANO, Length: 387817, dtype: object

In [6]:
motherTongueMapped

0            No non-official languages
1            No non-official languages
2            No non-official languages
3                            Cantonese
4                             Mandarin
5            No non-official languages
6            No non-official languages
7                        Not available
8                        Not available
9            No non-official languages
10                       Not available
11                 All other languages
12           No non-official languages
13                          Portuguese
14                          Portuguese
15           No non-official languages
16           No non-official languages
17           No non-official languages
18        Tagalog (Pilipino, Filipino)
19                 All other languages
20                 All other languages
21           No non-official languages
22                           Cantonese
23                           Cantonese
24                                Urdu
25           No non-official languages
26           No non-official languages
27                              German
28                              German
29           No non-official languages
                      ...
387787       No non-official languages
387788       No non-official languages
387789       No non-official languages
387790                           Tamil
387791                           Tamil
387792                           Tamil
387793                           Tamil
387794                          Polish
387795                      Portuguese
387796       No non-official languages
387797                           Tamil
387798                        Mandarin
387799                        Mandarin
387800       No non-official languages
387801    Other Indo-Iranian languages
387802        Other European languages
387803       No non-official languages
387804       No non-official languages
387805       No non-official languages
387806       No non-official languages
387807       No non-official languages
387808       No non-official languages
387809       No non-official languages
387810       No non-official languages
387811                         Spanish
387812    Tagalog (Pilipino, Filipino)
387813       No non-official languages
387814       No non-official languages
387815       No non-official languages
387816                       Cantonese
Name: MTNNO, Length: 387817, dtype: object

In [7]:
languageShift

0         False
1         False
2         False
3          True
4          True
5         False
6         False
7         False
8         False
9         False
10        False
11         True
12        False
13         True
14         True
15        False
16        False
17        False
18        False
19         True
20         True
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
387787    False
387788    False
387789    False
387790    False
387791     True
387792    False
387793    False
387794     True
387795     True
387796    False
387797    False
387798     True
387799    False
387800    False
387801    False
387802     True
387803    False
387804    False
387805    False
387806    False
387807    False
387808    False
387809    False
387810    False
387811     True
387812     True
387813    False
387814    False
387815    False
387816    False
Length: 387817, dtype: bool

In [8]:
x

,ABOID,AGEGRP,ATTSCH,BedRm,BFNMEMB,CFInc,CFInc_AT,CfSize,CFSTAT,CIP2011,...,REPAIR,ROOMS,Sex,SHELCO,SSGRAD,Tenur,TotInc,TotInc_AT,VisMin,WRKACT
0,6,15,1,2,0,16,15,2,1,5,...,3,5,1,700,6,1,30000,26000,13,9
1,6,18,1,3,0,13,12,1,6,5,...,1,5,1,900,6,1,41000,37000,13,1
2,6,14,1,2,0,25,21,2,1,11,...,1,4,2,900,5,2,53000,43000,13,11
3,6,11,1,3,0,28,25,4,2,7,...,1,8,2,2200,8,1,120000,98000,12,11
4,6,12,1,4,0,29,25,4,2,6,...,1,10,1,2700,8,1,2000,2000,2,1
5,6,14,1,4,0,15,13,1,6,13,...,1,6,1,1300,4,1,52000,43000,13,9
6,6,1,9,4,0,29,26,4,4,99,...,1,11,1,2658,99,1,99999999,99999999,12,99
7,6,9,3,2,0,27,24,3,2,13,...,1,4,2,2400,4,2,120000,86000,3,11
8,6,9,1,2,0,27,24,3,2,4,...,1,4,1,2500,6,2,12000,11000,88,11
9,6,9,4,2,0,11,11,2,1,3,...,2,4,2,900,6,2,24000,24000,13,9
10,6,88,1,1,0,17,15,1,6,8,...,1,4,2,1000,5,2,63000,51000,88,11
11,6,9,4,1,0,13,13,2,1,10,...,1,3,1,900,11,2,18000,19000,3,6
12,6,9,1,1,0,9,9,2,1,4,...,1,4,1,800,8,2,20000,21000,13,6
13,6,19,1,3,0,11,11,2,1,13,...,1,6,2,500,1,1,20000,20000,13,1
14,6,18,1,3,0,11,11,2,1,13,...,1,6,1,300,1,1,13000,14000,13,1
15,6,18,1,3,0,11,11,2,1,13,...,1,7,2,600,4,1,18000,18000,13,1
16,6,5,9,4,0,23,20,5,4,99,...,1,8,1,700,99,1,99999999,99999999,13,99
17,6,3,9,4,0,23,20,5,4,99,...,1,8,2,800,99,1,99999999,99999999,13,99
18,6,14,1,3,0,32,30,4,2,8,...,1,5,1,1900,8,1,72000,59000,12,11
19,6,19,1,4,0,25,23,2,1,6,...,1,7,2,500,12,1,64000,53000,13,1
20,6,19,1,4,0,25,23,2,1,8,...,1,7,1,700,6,1,42000,38000,13,1
21,6,18,1,1,0,8,8,1,6,13,...,1,3,1,400,4,2,18000,17000,13,1
22,6,14,1,5,0,23,21,3,2,13,...,1,6,2,700,4,1,73000,64000,2,11
23,6,14,1,5,0,23,21,3,2,13,...,1,6,1,700,4,1,7000,7000,2,1
24,6,8,4,2,0,2,2,1,7,13,...,1,3,2,1200,4,2,5000,5000,1,2
25,6,11,1,4,0,26,24,4,2,10,...,1,9,1,1100,11,1,69000,59000,13,10
26,6,3,9,4,0,26,24,4,4,99,...,1,9,2,1200,99,1,99999999,99999999,13,99
27,6,7,2,3,0,15,15,5,4,13,...,1,5,1,1300,1,1,7000,7000,13,1
28,6,4,9,3,0,15,15,5,4,99,...,1,5,2,1300,99,1,99999999,99999999,13,99
29,6,17,1,3,0,17,15,2,1,13,...,1,5,1,1100,4,2,29000,24000,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387787,6,13,1,3,0,13,12,2,1,9,...,3,8,1,900,5,1,1,1000,13,1
387788,6,12,1,3,0,16,15,4,2,5,...,2,8,1,1200,6,1,15000,15000,13,10
387789,6,5,9,3,0,16,15,4,4,99,...,2,8,1,1300,99,1,99999999,99999999,13,99
387790,6,11,1,5,0,22,19,4,2,13,...,1,8,2,2200,4,1,83000,69000,1,11
387791,6,1,9,5,0,22,19,4,4,99,...,1,8,1,2200,99,1,99999999,99999999,1,99
387792,6,10,1,5,0,13,12,2,1,13,...,1,8,2,2200,4,1,41000,39000,1,11
387793,6,9,1,5,0,10,9,1,8,13,...,1,8,2,2200,4,1,26000,23000,1,11
387794,6,9,1,3,0,31,29,2,1,11,...,1,7,2,2400,6,1,96000,77000,13,11
387795,6,12,1,2,0,19,17,3,2,13,...,1,6,2,1500,4,1,43000,37000,13,11
387796,6,17,1,3,0,22,19,2,1,5,...,1,4,1,700,6,1,27000,20000,13,1
387797,6,15,1,4,0,14,14,2,3,13,...,1,10,1,2700,1,1,28000,29000,1,11
387798,6,3,9,5,0,22,20,3,4,99,...,1,7,2,1800,99,1,99999999,99999999,2,99
387799,6,4,9,4,0,9,8,3,4,99,...,2,10,1,3904,99,1,99999999,99999999,2,99
387800,6,9,1,1,0,17,15,2,1,3,...,1,3,1,700,8,2,39000,33000,13,9
387801,6,5,9,2,0,22,21,4,4,99,...,1,4,2,1200,99,2,99999999,99999999,1,99
387802,6,9,1,1,0,15,13,1,6,13,...,1,3,2,1200,4,1,53000,44000,13,11
387803,6,16,1,1,0,10,10,1,6,2,...,1,7,1,400,6,1,27000,26000,13,11
387804,2,12,1,5,0,14,14,4,2,10,...,1,9,1,1947,5,1,9000,8000,13,1
387805,6,19,1,3,0,9,9,1,6,13,...,1,5,1,900,1,1,22000,21000,13,1
387806,6,15,1,3,0,30,28,4,2,6,...,1,5,2,400,6,1,96000,76000,13,11
387807,6,2,9,3,0,22,19,3,4,99,...,1,11,2,1947,99,1,99999999,99999999,7,99
387808,6,10,1,3,0,24,22,4,2,8,...,1,10,2,1500,5,1,50000,40000,13,11
387809,6,3,9,3,0,24,22,4,4,99,...,1,10,2,1500,99,1,99999999,99999999,13,99
387810,6,2,9,3,0,24,22,4,4,99,...,1,10,1,1500,99,1,99999999,99999999,13,99
387811,6,1,9,2,0,9,9,3,5,99,...,2,4,2,800,99,2,99999999,99999999,13,99
387812,6,14,1,3,0,25,21,3,2,7,...,1,6,2,1500,8,1,64000,49000,4,11
387813,6,11,1,4,0,30,25,4,2,4,...,1,7,1,1200,5,1,26000,24000,13,10
387814,6,11,1,4,0,30,25,4,2,8,...,1,7,2,1400,5,1,130000,83000,13,5
387815,6,3,9,4,0,30,25,4,4,99,...,1,7,2,1300,99,1,99999999,99999999,13,99
387816,6,21,1,3,0,13,13,3,3,13,...,2,7,1,1500,1,2,22000,23000,2,1

In [9]:
weights

0         37.120914
1         37.019784
2         37.041550
3         37.042280
4         37.037277
5         37.041550
6         37.041550
7         37.019784
8         37.019784
9         37.041550
10        37.051222
11        37.012589
12        37.041550
13        37.041550
14        37.041550
15        37.041550
16        37.041550
17        37.041550
18        37.019784
19        37.037277
20        37.037277
21        37.041550
22        37.037277
23        37.037277
24        37.042280
25        37.041550
26        37.041550
27        37.037277
28        37.037277
29        37.041550
            ...
387787    37.041550
387788    37.041550
387789    37.041550
387790    37.037277
387791    37.037277
387792    37.037277
387793    37.037277
387794    37.037277
387795    37.037277
387796    37.041550
387797    37.037277
387798    37.037277
387799    37.037277
387800    37.041550
387801    37.037277
387802    37.042280
387803    37.041550
387804    37.041550
387805    37.041550
387806    37.041550
387807    37.041550
387808    37.041550
387809    37.041550
387810    37.041550
387811    37.041550
387812    37.041550
387813    37.041550
387814    37.041550
387815    37.041550
387816    37.037277
Name: WEIGHT, Length: 387817, dtype: float64

In [10]:
from sklearn import datasets

In [103]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB(var_smoothing=0)

In [104]:
from sklearn.model_selection import train_test_split
weights_train, weights_test, x_train, x_test, languageShift_train, languageShift_test = train_test_split(weights, x, languageShift)

In [105]:
classifier.fit(x_train, languageShift_train, sample_weight=weights_train.tolist())

GaussianNB(priors=None, var_smoothing=0)

In [106]:
languageShift_pred = classifier.predict(x_test)

In [107]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

The Confusion Matrix indicates, given the predicted language (row names), for how many records did the algorith match the actual language. The classification report and accuracy score are other ways to evaluate how well the classification algorithm performed.

In [108]:
confusionMatrixLanguageShift = pd.DataFrame(
    confusion_matrix(languageShift_test,languageShift_pred), 
    index=['False', 'True'], 
    columns=['False', 'True'], 
)

In [109]:
set(languageShift_pred)

{False, True}

In [110]:
print(confusionMatrixLanguageShift)
print(classification_report(languageShift_test,languageShift_pred,target_names=['False', 'True']))
print(accuracy_score(languageShift_test, languageShift_pred))

       False   True
False  52290  23261
True    8310  13094
              precision    recall  f1-score   support

       False       0.86      0.69      0.77     75551
        True       0.36      0.61      0.45     21404

   micro avg       0.67      0.67      0.67     96955
   macro avg       0.61      0.65      0.61     96955
weighted avg       0.75      0.67      0.70     96955

0.6743747099169718

In [111]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\fogelm\anaconda3\lib\site-packages (0.8.6)

In [112]:
from tabulate import tabulate
importances = classifier.get_params()
print(importances)
#headers = ["name", "score"]
#values = sorted(zip(x_train.columns, classifier.feature_importances_), key=lambda x: x[1] * -1)
#print(tabulate(values, headers, tablefmt="plain"))

{'priors': None, 'var_smoothing': 0}

In [113]:
#from sklearn.tree import export_graphviz
#estimator = classifier.estimators_[5]
# Creates dot file named randomForestTreeSample.dot
#export_graphviz(estimator, 
#                out_file='randomForestTreeSample.dot', 
#                feature_names = list(x.columns),
#                class_names = ['False', 'True'],
#                rounded = True, proportion = False, 
#                precision = 2, filled = True,
#                max_depth=5)